@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/libre-baskerville/LibreBaskerville-Regular.ttf"),
    url("../fonts/libre-baskerville/LibreBaskerville-Bold.ttf"),
    url("../fonts/libre-baskerville/LibreBaskerville-Italic.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito/Nunito-Regular.ttf"),
    url("../fonts/nunito/Nunito-Bold.ttf"),
    url("../fonts/nunito/Nunito-Italic.ttf");
}

html {
  margin-left: 100px;
  margin-top: 15px;
}

h1 {
  font-family: "Libre Baskerville";
  font-size: 26px;
}

h2 {
  font-family: "Nunito";
  font-size: 18px;
}

.title {
  margin-left: 15px;
  font-size: 40px;
}

.container {
  border: solid 2px black;
  margin: 15px;
  padding: 15px;
}

.libre-baskerville {
  font-family: "Libre Baskerville", serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.italic {
  font-weight: italic;
}

.flat-button {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
  width: 200px;
  text-align: center;
}

.flat-button:hover {
  cursor: pointer;
}

.flat-button:active {
  background-color: grey;
  color: white;
}

.skeuomorphism-button {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 2px;
}

.skeuomorphism-button:hover {
  cursor: pointer;
}

.skeuomorphism-button:active {
  background-color: grey;
  color: white;
}
